# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = ChillyBlaze
email = l135163642@gmail.com
[init]
	defaultBranch = master
[pull]
	rebase = true
